// .container-login {
//       width: 80%;
//       height: calc(100vh - 10vh);
// }

// .sub-container {
//       width: 100%;

// }

// .foto-login {
//       // margin-top: -35px;
// }

// .form-container {
//       height: 80vh;
// }

form {
  width: 100%;
}

.sub-container {
  width: 70%;
  height: 100%;
}

.teste {
  height: calc(100vh - 10vh);
}

.item-esqueci-senha {
  width: 100%;
  display: flex;
  justify-content: center;

  & a {
    margin: 0 10px;
  }
}
