<div
  class="container-fluid d-flex justify-content-center container-custom"
  style="height: calc((100vh - 10vh) - 2px)"
>
  <div class="row" style="width: 100%">
    <div class="card card-custom mx-auto my-auto px-4">
      <div class="mt-4">
        <h2>Esqueci minha senha...</h2>
        <p class="mt-4">Ao digitar o seu e-mail abaixo, enviaremos instruções para o mesmo para recuperar a sua senha.</p>
      </div>

      <div class="mb-2">
        <label for="email" class="form-label mt-3 mb-3">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Seu email"
          required
        />
      </div>

      <div class="mt-5 col-12">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center button-custon mb-3">
            <button routerLink="/login" class="btn btn-primary botao-login me-5">Voltar</button>
            <button class="btn btn-primary botao-login">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

